@tailwind base;
@tailwind components;
@tailwind utilities;

/* Declarations outside layers are never purged */
*:not(.a11y-focus-within\:focus-ring *, .a11y-focus\:focus-ring) {
  @apply focus-within:focus-ring;
}

@layer base {
  h1,
  h2,
  h3 {
    font-family: "Playfair Display", serif;
  }
  body {
    font-family: "Roboto", sans-serif;
  }
}
@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .focus-ring {
    @apply ring ring-highlight;
  }
  .animation-delay-1000 {
    animation-delay: 1s;
  }
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-3000 {
    animation-delay: 3s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
